.about {
  width: 100%;
}

.aboutHero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.aboutHeroCartoon {
    position: absolute;
    bottom: 100%;
    right: 20%;
}

.aboutHeadline {
    padding-top: 120px;
}

.aboutHeroButton {
    align-self: center;
    padding-top: 64px;
    padding-bottom: 120px;
}

.aboutContent {
    background-color: var(--background-dark);
    border-radius: 40px 40px 0px 0px;
    padding-top: 160px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 160px;
    margin-top: -40px;
    overflow: hidden;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.aboutContentText {
    align-self: flex-start;
    width: 92%;
    font-size: 36px;
    letter-spacing: 99%;
    line-height: 140%;
    padding-bottom: 140px;
}
.aboutFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutFlexTitle {
    font-size: 96px;
    position: relative;
    letter-spacing: 97%;
}

.aboutFlexSvg {
    position: absolute;
    left: 100%;
    top: 60%;
    transform: translate(var(--r), 0%);
}

.aboutFlexText {
    font-family: generalSansMedium;
    letter-spacing: 98%;
    line-height: 140%;
    width: 300px;
    font-size: 14px;
}

.aboutSeprator {
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
}