.brandNeeds {
    background-color: var(--background-light);
    border-radius: 40px 40px 0px 0px;
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    overflow: hidden;
    margin-top: -40px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.brandNeedsCartoon {
    position: absolute;
    left: 93%;
    top: 0;
    z-index: 20;
    transform: scale(0); 
}

.brandNeedsStar {
    position: absolute;
    top: 30%;
    right: 100%;
    z-index: 30;
}

.brandNeedsButton {
    margin-top: 64px;
}