.projectHero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
}

.projectHeroBg {
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-80%, -70%);
}

.projectHeroButtonWrapper {
    padding: 48px 0px 160px 0px;
}

.projectHeroCartoon {
    position: absolute;
    right: 80%;
    bottom: 100%;
    transform: translateY(30%);
}

.projectHeroText {
    display: flex;
    font-family: generalSansMedium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 98%;
    width: 500px;
    text-align: center;
    padding-top: 48px;
}

#beforeAfter {
    padding-bottom: 0px;
    flex-direction: row;
    height: calc(100vh + 40px);
    gap: 32px;
}

#beforeAfter > :nth-child(1) {
    transform: translateY(10%);
}

#beforeAfter > :nth-child(2) {
    transform: translateY(10%) rotate(5deg);
}

#projectAbout {
    z-index: 40;
    overflow: hidden;
}

.wireframeContainer {
    width: 100%;
    border-radius: 12px;
    background-color: var(--bg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.wireframe {
    width: 90%;
    height: max-content;
    border: 4px solid var(--color-white);
    border-radius: 12px;
    margin-top: 120px;
}

.miscContainer {
    display: flex;
    gap: 26px;
    height: 80vh;
    width: 100%;
    padding-top: 26px;
}

.projectAboutBg {
    position: absolute;
    right: 100%;
    top: 100%;
    transform: translate(70%, -50%);
}