.hero {
    position: relative;
    min-height: 100vh;
}

.heroHeadline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #EFEBE7;
    margin-bottom: 84px;
    width: 100%;
}

.heroBackgroundMedia {
    position: absolute;
    z-index: -10;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.heroCartoonWrapper {
    position: absolute;
    right: 95%;
    top: 15px;
    z-index: 20;
    width: 165.09px;
    height: 179.39px;
    opacity: 0;
    pointer-events: none;
}

.heroCartoon {
    width: 100%;
    height: 100%;
}

.heroStar {
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 20;
    display: flex;
    width: 56px;
    height: 56px;
}

.heroStar img {
    width: 100%;
    height: 100%;
}

.heroUnderlinePosition {
    position: absolute;
    left: 58%;
    bottom: -20px;
    z-index: 20;
}

/* ========================================
   RESPONSIVE BREAKPOINTS - HERO SECTION
   ======================================== */

@media (max-width: 1200px) {
    .heroCartoonWrapper {
        right: 92%;
        transform: scale(0.85);
    }

    .heroStar {
        left: 100%;
        top: 0px;
        transform: scale(0.85);
    }

    .heroUnderlinePosition {
        left: 5%;
        bottom: -20px;
        transform: scale(0.9);
    }
}

@media (max-width: 992px) {
    .heroCartoonWrapper {
        right: 90%;
        transform: scale(0.7);
    }

    .heroStar {
        left: 100%;
        top: 0px;
        transform: scale(0.7);
    }

    .heroUnderlinePosition {
        left: 5%;
        bottom: -20px;
        transform: scale(0.8);
    }
}

@media (max-width: 768px) {
    .heroCartoonWrapper {
        right: 88%;
        transform: scale(0.5);
    }

    .heroStar {
        left: 100%;
        top: 0px;
        transform: scale(0.5);
    }

    .heroHeadline {
        margin-bottom: 60px;
    }

    .heroUnderlinePosition {
        left: 5%;
        bottom: -20px;
        transform: scale(0.7);
    }
}

@media (max-width: 576px) {
    .heroCartoonWrapper {
        right: 86%;
        top: 90px;
        width: 88.35px;
        height: 96px;
        transform: none;
    }

    .heroStar {
        left: 95.5%;
        top: 68px;
        transform: none;
    }
    
    .heroStar img {
        width: 36px;
        height: 36px;
        rotate: 80deg;
    }

    .heroHeadline {
        margin-bottom: 50px;
    }

    .heroUnderlinePosition {
        left: -5%;
        bottom: -28px;
        transform: scale(0.6);
    }
}
@keyframes slideInRotate {
    0% {
        transform: translateX(100vw) rotate(180deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.slideInRotateAnimation {
    animation: slideInRotate 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    will-change: transform, opacity;
}

