.hero {
    position: relative;
    min-height: 100vh;
}

.heroHeadline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #EFEBE7;
    margin-bottom: 84px;
    width: 100%;
}

.heroBackgroundMedia {
    position: absolute;
    z-index: -10;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
    height: 100%;
}

.heroCartoon {
    position: absolute;
    right: 94%;
    top: -10px;
    z-index: 20;
    transform: scale(0);
}

.heroStar {
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 20;
}

.heroUnderlinePosition {
    position: absolute;
    left: 58%;
    bottom: -20px;
    z-index: 20;
}

