.edgeBubble {
    padding: 12px;
    border-radius: 18px 18px 18px 0px;
    background-color: #EFEBE7;
    font-size: 14px;
    color: black;
    display: flex;
    width: fit-content;
    font-family: 'generalSansMedium';
}