.reviews {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
    background-color: var(--background-dark);
    color: #EFEBE7;
}

.reviewsCartoon {
    position: absolute;
    right: 85%;
    bottom: 30%;
    width: 194.81px;
    height: 186.18px;
}

.reviewUnderlinePosition {
    position: absolute;
    bottom: -30px;
    left: 38%;
}

.reviewsBg {
    position: absolute;
    left: 75%;
    top: 100px;
}

.reviewsCarousel {
    padding-top: 140px;
    padding-bottom: 50px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 40;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reviewsCarousel::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.reviewsCarousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.reviewsCarouselInner {
    display: flex;
    gap: 26px;
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.scaleInAnimation {
  animation-name: scale-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* ========================================
   RESPONSIVE BREAKPOINTS - REVIEWS SECTION
   ======================================== */

@media (max-width: 1200px) {
    .reviewsCartoon {
        right: 82%;
        bottom: 18%;
        transform: scale(0.85);
    }

    .reviewUnderlinePosition {
        bottom: -28px;
        left: 36%;
        transform: scale(0.9);
    }

    .reviewsBg {
        left: 72%;
        top: 90px;
        transform: scale(0.85);
    }
}

@media (max-width: 992px) {
    .reviewsCartoon {
        right: 80%;
        bottom: 16%;
        transform: scale(0.7);
    }

    .reviewUnderlinePosition {
        bottom: -26px;
        left: 34%;
        transform: scale(0.8);
    }

    .reviewsBg {
        left: 70%;
        top: 80px;
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    .reviewsCartoon {
        right: 78%;
        bottom: 14%;
        transform: scale(0.6);
    }

    .reviewUnderlinePosition {
        bottom: -24px;
        left: 32%;
        transform: scale(0.7);
    }

    .reviewsBg {
        left: 68%;
        top: 70px;
        transform: scale(0.6);
    }
}

@media (max-width: 576px) {

    .reviews{
        padding-top: 80px ;
    }

    .headlineText{
        padding-bottom: 0%;
    }
    .reviewsCartoon {
        right: 69%;
        bottom: 75%;
        width: 92.45px;
        height: 86px;
        transform: none;
    }

    .reviewUnderlinePosition {
        bottom: -22px;
        left: 30%;
        width: 10px;
        height: auto;
    }

    .reviewsBg {
        left: -30%;
        top: 650px;
        width: 311.33px;
        height: 312.5px;
        transform: none;
    }
}
