.reviewCard {
   width: 360px;
   height: 630px;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 26px;
}

.reviewCardContent {
   background-color: var(--color-yellow);
   display: flex;
   flex-direction: column;
   gap: 24px;
   border-radius: 12px;
   color: black;
   padding: 28px;
}

.reviewCardReviewer {
   display: flex;
   align-items: center;
   gap: 16px;
}

.reviewCardReviewerAvatar {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   object-fit: cover;
}

.reviewCardReviewerInfo {
   display: flex;
   flex-direction: column;
}

.reviewCardReviewerName {
   font-weight: bold;
   font-size: 16px;
}

.reviewCardReviewerLocation {
   font-size: 14px;
   font-family: generalSansMedium;
}

.reviewCardReview {
   font-size: 14px;
   flex-grow: 1;
   font-family: generalSansMedium;
   line-height: 140%;
   font-weight: lighter !important;
}

.reviewCardImage {
   border-radius: 12px;
   width: 100%;
   background-color: var(--color-yellow);
   flex-grow: 1;
}