.headlineContainer {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    z-index: 10;
    margin-bottom: 84px;
    width: 100%;
}

.headlineText {
    font-size: 96px;
    text-align: center;
    letter-spacing: -5px;
    line-height: 95%;
}

.headlineText.white {
    color: white;
}

.headlineHighlight {
    font-family: ppEditorial;
}

.headlineCartoon {
    position: absolute;
    right: 94%;
    top: -10px;
    z-index: 20;
}

.headlineWrapper {
    position: relative; /* anchor for image */
    display: inline-block;
}

.headlineStar {
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 20;
}

.headlineUnderlinePosition {
    position: absolute;
    left: 58%;
    bottom: -20px;
    z-index: 20;
}

