.team {
    background-color: var(--background-dark);
    border-radius: 40px 40px 0px 0px;
    padding-top: 140px;
    position: relative;
    overflow: hidden;
}

.teamHeadline {
    padding-top: 120px;
    color: white;
}

.teamCartoon {
    position: absolute;
    right: 100%;
    transform: scale(0);
}

.teamUnderline {
    position: absolute;
    bottom: -30px;
    left: 62%
}

.teammates {
    position: relative;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 180px;
}

.teammateGreenBlob {
    position: absolute;
    right: 64px;
}

.teammatePinkBlob {
    position: absolute;
    left: -150px;
    bottom: 5%;
}


.teamCols {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    overflow-x: hidden;
}

.teamRow {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 188px;
}

.teamRow:nth-child(2) {
    padding-top: 188px;
}

.teammateCard {
    display: flex;
    border-radius: 12;
    height: 376px;
    width: 300px;
    margin-left: calc((100% - 30%) * var(--r));
}

.teammateImageWrap {
    position: relative;
    display: inline-block;
}

.teammateCardImage {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

#worldMap path {
    fill: #414141;
    stroke: #414141;
}

#worldMap path:hover {
    fill: #EAF9C0 !important;
    stroke: #EAF9C0 !important;
    cursor: pointer;
}

.mapContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.teammateCallout {
    position: absolute;
    display: inline-block;
    padding: 12px;
    border-radius: 100px 100px 100px 0px;
    pointer-events: none; 
    width: fit-content;
    font-size: 12px;
    font-family: generalSansMedium;
    letter-spacing: normal;
    white-space: nowrap;
    line-height: normal;
    background-color: var(--color-yellow);
}