.navbar {
    --navbar-height: 64px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 12px 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    z-index: 60;
    background: transparent;
    width: 100%;
}

.navbar { color: var(--color-white) }
.navbar.dark { color: var(--color-black); }

.navLinks {
    display: flex;
    gap: 36px;
    color: inherit;
    justify-self: start;
}

.navbar .navLinks a { color: inherit; }

.logo {
    justify-self: center;
    display: block;
}

.navbar .cta-btn-background {
    justify-self: end;
}
