footer {
    background-color: var(--background-violet);
    color: white;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 64px;

    position: relative;
    overflow: hidden;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 500px;
    z-index: 20;
}


.footerItemsList {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    gap: 32px;
}

.footerItem {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    letter-spacing: 99%;
}

.socials {
    display: flex;
    gap: 16px;
}

.visitUsLink {
    cursor: url('/tooltip.svg'), pointer;
}

.pokifooter {
    position: absolute;
    bottom: -20%;
    width: 90%;
}

.footerText {
    position: absolute;
    top: 52%;
    left: 40%;
}

.footerCartoon1 {
    position: absolute;
    left: 10%;
    top: 40%;
}

.footerCartoon2 {
    position: absolute;
    right: 23%;
    top: 40%;
}

.footerSvg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10;
}