footer {
    background-color: var(--background-violet);
    color: white;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 64px;

    position: relative;
    overflow: hidden;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 500px;
    z-index: 20;
}


.footerItemsList {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    gap: 32px;
}

.footerItem {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    letter-spacing: 99%;
}

.socials {
    display: flex;
    gap: 16px;
}

.visitUsLink {
    cursor: url('/tooltip.svg'), pointer;
}

.pokifooter {
    position: absolute;
    bottom: -20%;
    width: 90%;
}

.footerText {
    position: absolute;
    top: 52%;
    left: 40%;
}

.footerCartoon1 {
    position: absolute;
    left: 10%;
    top: 40%;
}

.footerCartoon2 {
    position: absolute;
    right: 23%;
    top: 40%;
}

.footerSvg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 10;
}

/* Show desktop SVG by default, hide mobile SVG */
.footerSvgMobile {
    display: none;
}

/* ========================================
   RESPONSIVE BREAKPOINTS - FOOTER
   ======================================== */

@media (max-width: 1200px) {
    footer {
        padding: 56px;
        border-radius: 36px 36px 0px 0px;
    }

    .footerContainer {
        margin-bottom: 450px;
    }

    .footerItem {
        font-size: 22px;
    }

    .footerSvg {
        width: 92%;
    }
}

@media (max-width: 992px) {
    footer {
        padding: 48px;
        border-radius: 32px 32px 0px 0px;
    }

    .footerContainer {
        margin-bottom: 400px;
    }

    .footerItemsList {
        padding-top: 32px;
        gap: 28px;
    }

    .footerItem {
        font-size: 20px;
    }

    .footerSvg {
        width: 94%;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 48px 32px;
        display: grid;
        grid-template-columns: 140px 1fr;
        gap: 48px 32px;
        border-radius: 28px 28px 0px 0px;
    }

    .footerContainer {
        margin-bottom: 0;
        width: 100%;
    }

    .footerContainer:nth-child(1) {
        /* Website - top left */
        grid-column: 1;
        grid-row: 1;
    }

    .footerContainer:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
        min-width: none;
    }

    .footerContainer:nth-child(2) .footerItem {
        max-width: 250px;
        width: 100%;
    }

    .footerContainer:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 400px;
    }

    .footerItemsList {
        padding-top: 20px;
        gap: 20px;
    }

    .footerItem {
        font-size: 20px;
    }

    .socials {
        gap: 12px;
    }

    .socials svg {
        width: 28px;
        height: 28px;
    }

    .footerSvg {
        width: 100%;
        grid-column: 1 / -1;
    }

    /* Switch to mobile SVG on tablet/mobile */
    .footerSvgDesktop {
        display: none;
    }

    .footerSvgMobile {
        bottom: 10%;
        display: block;
    }
}

@media (max-width: 576px) {
    footer {
        padding: 40px 24px;
        gap: 40px 24px;
        border-radius: 24px 24px 0px 0px;
    }

    .footerContainer:nth-child(3) {
        margin-bottom: 350px;
    }

    .footerItemsList {
        padding-top: 16px;
        gap: 16px;
    }

    .footerItem {
        font-size: 18px;
    }

    .socials svg {
        width: 24px;
        height: 24px;
    }

    .footerSvg {
        width: 105%;
        bottom: 10%;
    }   
}