.projectsCartoon {
    position: absolute;
    left: 80%;
    bottom: 20px;
}

.tooltip {
    display: inline-block;
    padding: 12px;
    border-radius: 100px 100px 100px 0px;
    pointer-events: none; 
    width: fit-content;
    font-size: 12px;
    font-family: 'generalSansMedium';
    letter-spacing: normal;
    white-space: nowrap;
    line-height: normal;
}

.tooltip.blue {
    background-color: #86C9FF;
    color: black;
}

.tooltip.pink {
    background-color: pink;
    color: black;
}

.tooltip.yellow {
    background-color: #EAF9C0;
    color: black;
}