.team {
    background-color: var(--background-dark);
    border-radius: 40px 40px 0px 0px;
    padding-top: 140px;
    position: relative;
}

.map {
   display: flex;
   justify-content: center;
}

.teamHeadline {
    padding-top: 120px;
}

.teamCartoon {
    position: absolute;
    right: 100%;
}

.teammates {
    position: relative;
    padding-top: 64px;
}

.teammateGreenBlob {
    position: absolute;
    left: 100%;
}

.teammatePinkBlob {
    position: absolute;
    right: 100%;
    bottom: 0px;
}