.tooltip {
    display: inline-block;
    padding: 12px;
    border-radius: 18px 18px 18px 0px;
    pointer-events: none; 
    width: fit-content;
    font-size: 14px;
    font-family: generalSansMedium;
    letter-spacing: normal;
    white-space: nowrap;
    line-height: normal;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}

.tooltip.blue {
    font-size: 14px;
    background-color: #86C9FF;
    color: black;
    margin-top: -30px;
    margin-left: 130px;
}

.tooltip.pink {
    background-color: #EFB5D4;
    color: black;
}

.tooltip.pink-pill {
    padding: 12px;
    font-size: 14px;
    background-color: #EFB5D4;
    color: black;
}

.tooltip.yellow {
    background-color: #EAF9C0;
    color: black;
}

.tooltip.green {
    background-color: var(--color-green);
    color: white;
}

.tooltip.orange {
    background-color: var(--color-orange);
    color: white;
}

/* ========================================
   SECTION OVERFLOW PREVENTION
   ======================================== */

section {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}