@font-face {
  font-family: 'generalSansMedium';
  src: url('./assets/fonts/GeneralSans-Medium.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ppEditorial';
  src: url('./assets/fonts/PPEditorial-UltralightItlaic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Milk Cursive W00 Regular";
  src: url("https://db.onlinewebfonts.com/t/6051c488e9a1c4bddecd81110c24421e.eot");
  src: url("https://db.onlinewebfonts.com/t/6051c488e9a1c4bddecd81110c24421e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6051c488e9a1c4bddecd81110c24421e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6051c488e9a1c4bddecd81110c24421e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6051c488e9a1c4bddecd81110c24421e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6051c488e9a1c4bddecd81110c24421e.svg#Milk Cursive W00 Regular")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'General Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #EFEBE7;

  --background-light: #EFEBE7;
  --background-dark: #1A1A1A;
  --background-violet:  #5168E8;
  --button-color: #E47249;
  --button-highlight-color: #EAF9C0;
  --color-yellow: #EAF9C0;
  --color-orange: #E47249;
  --color-blue: #86C9FF;
  --color-pink: #EFB5D4;
  --color-green: #427665;
  --color-white: #EFEBE7;
  --color-black: #1A1A1A;
  --color-violet: #5168E8;
  --color-offwhite: #E6E2DE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Cursors */
* {
  cursor: url('/cursor.svg'), auto;
}

a, button, 
[role="button"],
.projectCard,
.projectCardTitle,
.categoryPill,
input[type="submit"],
input[type="button"] {
  cursor: url('/tooltip.svg'), pointer;
}

/* ========================================
   GLOBAL OVERFLOW PREVENTION
   ======================================== */

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
