@font-face {
  font-family: 'generalSansMedium';
  src: url('./assets/fonts/GeneralSans-Medium.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ppEditorial';
  src: url('./assets/fonts/PPEditorial-UltralightItlaic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'General Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #EFEBE7;

  --background-light: #EFEBE7;
  --background-dark: #1A1A1A;
  --background-violet:  #5168E8;
  --button-color: #E47249;
  --button-highlight-color: #EAF9C0;
  --color-yellow: #EAF9C0;
  --color-orange: #E47249;
  --color-blue: #86C9FF;
  --color-pink: #EFB5D4;
  --color-green: #427665;
  --color-white: #EFEBE7;
  --color-black: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
